$blue: #5394f6;
$brown: #5C5337;
$grey: #9CAFB7;
//$dark: #2E3330;
$dark: #2B2520;
$yellow: #DB9716;
$yellow-2:#EDC272;
$green: #6F9B84;
$dark-green: #3B7557;
$light-green: #16DBB7;

$dark-blue: #1a5276;
$purple: #db1656;

$dark-grey:#7C7777;
$peche:#FA9977;
$light-yellow:#EDC272;

$dpe-a:#379932;
$dpe-b:#3acc31;
$dpe-c:#cdfd33;
$dpe-d:#fbea49;
$dpe-e:#fccc2f;
$dpe-f:#fb9c34;
$dpe-g:#fa1c1f;

$ges-a:#f6edfe;
$ges-b:#e4c7fb;
$ges-c:#d2adf1;
$ges-d:#c99aef;
$ges-e:#b77ae9;
$ges-f:#a659e9;
$ges-g:#8835d9;


$terracota: #DFA288;
$terre_cuite: #B8543B;
$brique: #7E3324;
$ardoise: #2B2520;
$argile: #DFA288;
$creme: #FBF6EF;
$sable: #E7D9C9;
$white: #FFF;
$vert-vosges: #6F7A60;
$color_cartouche: #9A8C7E;
