$blue: #5394f6;
$brown: #5C5337;
$grey: #9CAFB7;
$dark: #2E3330;
$yellow: #DB9716;
$green: #6F9B84;
$dark-green: #3B7557;
$light-green: #16DBB7;

$dpe-a:#379932;
$dpe-b:#3acc31;
$dpe-c:#cdfd33;
$dpe-d:#fbea49;
$dpe-e:#fccc2f;
$dpe-f:#fb9c34;
$dpe-g:#fa1c1f;

$ges-a:#f6edfe;
$ges-b:#e4c7fb;
$ges-c:#d2adf1;
$ges-d:#c99aef;
$ges-e:#b77ae9;
$ges-f:#a659e9;
$ges-g:#8835d9;