* {
    margin:0;
    padding: 0;
}
*::before,*::after {
    box-sizing: border-box;
}
input,button,textarea,select{
    font:inherit;
}
p,h1,h2,h3,h4,h5,h6 {
    overflow-wrap: break-word;
}
h1 {}
body {
    font-family: $body-font;
}
ul,li {
    list-style-position: inside;
}
.inside {
    width: auto;
    max-width: 1116px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
}
main {margin-top: 9rem; min-height: 100vh;}
.grid {display: grid;
    &.columns_2 {grid-template-columns: repeat(2,1fr);gap:10px;}
    &.columns_3 {grid-template-columns: repeat(3,1fr);gap:10px;}
    &.columns_4 {grid-template-columns: repeat(4,1fr);gap:10px;}
}

