<section class="inside">
    <h1>Espace Admin</h1>
    <%= link_to "Créer une annonce",new_admin_annonce_path(params[:id]), class:"btn white" %>
    <p></p><%= current_admin.email %></p>
</section>
<section class="inside">
<table>
    <thead>
        <tr>
            <th>1</th>
            <th>1</th>
            <th>1</th>
            <th>1</th>
            <th>1</th>
            <th>1</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
        </tr>
    </tbody>
</table>
</section>