#admin {
    table {
        width: 100%;
        border: solid whitesmoke;
        tr {height: 1.5em;}
        tbody tr:nth-child(odd) {
            background-color: #d3e4f3;
          }
        tbody tr:nth-child(even) {
            background-color: whitesmoke;
          }
    }
}