#annonce {
}
.annonce_show_photos {
    //border: solid 2px blue;
    margin-bottom: 2rem;
    .cover {
        margin-bottom: 10px;
        height: auto;
        display: flex;
        height: 500px;
        position: relative;
        .cover-img {
            display: flex; width: 100%; height: 100%;
            object-fit: cover;
            z-index:-2;
            position: absolute;
            visibility: hidden;
            &.visible {
                z-index: 1;
                visibility: visible;
            }
        }
    }
    .carrousel_photos{
        display: flex;
        justify-content: flex-start;
        overflow-x: scroll;
        padding: 0;
        margin: 0;
        .carrousel_select {
            list-style: none;
            cursor: pointer;
            padding: 0;
            margin: 0;
            border-radius: 3px;
            min-width: 200px;
            height: 100px;
            display: flex;
            margin-right: 10px;
            img {object-fit: cover; display: flex;width: 100%; border-radius: 3px;}
        }
    }
}
.annonce_entete {
    display: flex;
    align-items: baseline;
    .annonce_show_titre {font-size: 2em; color: black;}
}

@media only screen and (max-width: 40em) {
    #map {display: none;}
    .filtre_tags {overflow-x: scroll;}

    .annonces_index {
        .carte_fixed {display: none;}
        .list_annonces {margin: 0;}
        #annonces_list_index {grid-template-columns: 1fr;}
    }
}