.search_home {
    position: relative;
    .search_home_intro {
        position: relative;
        display: flex;
        width: fit-content;

        .titre_search {
            font-family: "Inter", sans-serif;
            color: white;
            text-shadow: 6.10444px 6.10444px 32.0483px rgba(0, 0, 0, 0.25);
            display: inline-block;
            font-size: 4em;
            position: absolute;
            line-height: 1em;
            right: -10%;
            bottom: 22%;
            font-weight: 600;
        }
    }
    .search_form {
        position: absolute;
        left: 0;
        bottom: 10%;
    }
    &.new {
        display: flex;
        .search_home_intro {width: 70%;
            .titre_search {bottom: 10%;}
        }
        .form_carre {position: initial;width:50%;
            display: flex;justify-content:center; align-items: center;
            .search_form.new {position: initial; width: fit-content;height: fit-content;}
        }
    }
}
.titre.styling {
    font-family: "Nothing you could do";
    text-align: center;
    font-size: 2rem;
}
.prestations {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .prestation h3 {
        font-family: "Inter";
        font-weight: 500;
    }
}
.list_agences_home {
    display: flex;
    overflow-x: scroll;
    gap: 10px;
    li {
        min-width: 30%;
        height: 45vh;
        display: flex;
        position: relative;
        border: solid 1px #F0ECEC;
        border-radius: 5px;
        img {width: 100%;object-fit: contain;}
        a {}
        h3 {
            position: absolute;
            font-family: "Inter", sans-serif;
            color: white;
            text-shadow: 6.10444px 6.10444px 32.0483px rgba(0, 0, 0, 0.25);
            display: inline-block;

            font-size: 2.5em;
            width: 100%;
            text-align: center;
            bottom: 1.5em;
        }
    }
}

@media only screen and (max-width: 40em) {
    .search_home {
        flex-direction: column;
        position: relative !important;
        .titre_search {display: none !important;}
        .search_home_intro {
            width: 100% !important;
            img {width: 100%;}
        }
        .form_carre {
            position: absolute !important;
            width: 90% !important;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            .input {
                background-color: white !important;
            }
            input,select {
                font-size: 0.8em !important;
            }
            .btn.btn-primary {background-color: $yellow-2; font-size: 0.8em;}
        }
    }
    .list_video {
        display: none;
    }
}
