<% annonces.each do |annonce| %>
    <li>
        <%= link_to achat_show_path(annonce) do %>
            <%= render partial: "achats/annonce", locals: {annonce: annonce} %>
        <% end %>
    </li>
<% end %>