<div class="card_annonce">
    <div class="card_img">
        <span class="card_type">Appartement</span>
        <img src="https://maison.20minutes.fr/wp-content/uploads/2022/07/1-un-combine-duplex-et-jardin-dhiver-pinterest-sophie-kannard.jpg">
    </div>
    <div class="card_desc">
        <div class="card_flex">
            <h2>Grand appartement</h2>
            <p>120 000€</p>
        </div>
        <div class="card_flex grey">
            <p>67000 Strasbourg</p>
            <p>1280€/m<sup>2</sup></p>
        </div>
        <div class="card_flex">
            <p>100m2</p>
            <p>6 pièces</p>
            <p>3 chambres</p>
        </div>
    </div>
</div>