<section class="inside">
    <h1>Annonces </h1>
    <div class="filtres_annonces">
        <h2>Filtre annonces</h2>
        <ul>
            <li>Maisons</li>
            <li>Appartements</li>
            <li>Haut-Rhin</li>
            <li>Strasbourg</li>
        </ul>
    </div>
</section>
<section class="inside all_annonces">
    <ul class="list_annonces">
        <% 10.times do %>
            <% @annonces.each do |annonce| %>
                <%= link_to achat_show_path(annonce) do %>
                <li>

                    <%= annonce.titre %>
                </li>
                <% end %>
            <% end %>
        <% end %> 
    </ul>

    <div id="map"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</section>