<section class="quartier_intro inside krutenau">
    <%= image_tag "quartiers/krutenau.png", width: 500, height:500;%>
    <h1>Krutenau</h1>
    <div class="quartier_intro_text">
        <p>Niché entre les rives du Rhin et le cœur historique de Strasbourg, la Krutenau se dévoile comme un écrin où le patrimoine architectural séculaire se mêle harmonieusement aux établissements modernes. Les façades à colombages, les places pittoresques et les petits commerces confèrent à ce quartier une atmosphère chaleureuse et conviviale, tout en offrant un accès privilégié aux plaisirs de la vie citadine.<br><br>
Les cafés animés, les marchés colorés et les espaces verts soigneusement entretenus complètent le tableau, invitant les résidents à profiter d'une qualité de vie incomparable. Que vous soyez amateur de culture, gastronome averti ou passionné d'histoire, la Krutenau offre un éventail d'activités et de découvertes pour satisfaire toutes les envies.</p>
    </div>
</section>
<section class="inside">
    <ul class="list_annonces three">
        <% 10.times do %>
            <%= render "achats/annonce" %>
        <% end %> 
    </ul>
</section>
