<section class="quartier_intro inside petite_france">
    <%= image_tag "quartiers/petite-france.png", width: 500, height:500;%>
    <h1>Petite France</h1>
    <div class="quartier_intro_text">
        <p>
            Ce quartier offre un véritable voyage dans le temps, où chaque bâtisse raconte une histoire riche et fascinante. Les façades romantiques reflètent l'empreinte des siècles passés, tandis que les petits ponts enjambant les canaux ajoutent une touche de poésie à l'ensemble. La Petite France est un tableau vivant, une symphonie d'architecture et de nature, imprégnée de l'essence même de Strasbourg.
            <br><br>
            Les restaurants authentiques, les cafés pittoresques et les boutiques d'artisans locaux contribuent à l'ambiance conviviale de ce quartier, créant un véritable art de vivre.
        </p>
    </div>
</section>
<section class="inside">
    <ul class="list_annonces three">
        <li class="annonce_card bis">ddd</li>
        <li>ddd</li>
        <li>ddd</li>
        <li>ddd</li>
        <li>ddd</li>
        <li>ddd</li>
    </ul>
</section>