<footer id="footer">
    <p class="inside">footer</p>
    <ul>
        <li></li>
        <li>Mentions légales</li>
        <li>Politique de confidentialité </li>
        <li>Gestion des cookies</li>
        <li>Plan du site</li>
        <li>Ozymedia</li>
    </ul>
</footer>