<section class="quartier_intro inside petite_france">
    <div class="quartier_intro_mobile">
        <h1><%= image_tag "commerces.png", width: "", height:500,alt:"Achat & location d'appartements - quartier #{@quartier_name} - Strasbourg";%></h1>
        <h2 class="titre_quartier_show">Commerces</h1>
    </div>
    <div class="quartier_intro_text">
        <%= sanitize "" %>
    </div>
</section>

