<h1>Annonces#new</h1>
<p>Find me in app/views/annonces/new.html.erb</p>
<%= simple_form_for(@annonce) do |f| %>
    <!-- [...] -->
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <!-- [...] -->
  <% end %>