.map { border: solid red 2px; z-index: 0;}
.list_annonces {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    list-style: none;
    &.three {
        grid-template-columns: repeat(3,1fr);
    }
}

.annonce {
    border: solid 1px;
}
.all_annonces {
    display: flex;
    border: solid 1px;
    width: 100%;
    justify-content: space-between;
    padding-right: 0;
    p {width: 100%;}
}
#map {
    width: 100%;
    height: 100vh;
    position: sticky;
    top:0;
}
.all_annonces {
    #map {width: 50%;}
}
.filtres_annonces {
    border: solid 3px purple;
}
.cover_landing {
    display: flex;
    img {width: 450px;}
}
.annonce_card {
    width: 100%;min-width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 3px 3px;
    a {text-decoration: none; color: black;}
    .annonce_card_photo { 
        position: relative;
        display: flex;
        height: 250px;
        //box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        img {width: 100%;border-radius: 3px; object-fit: cover;}
        .annonce_card_status {
            background: rgba(219,151,22,0.7);
            position: absolute;
            top: 0;
            left:0;
            padding: 7px;
            border-radius: 0 0 10px 0;
            font-size: 0.8em;
            color: white;
        }
        .annonce_card__nbr_photos {position: absolute;bottom: 5px;right:5px;
            padding: 0.3em 1.2em;
            border-radius: 5px;
            background: rgba(46,51,48,.8);
            color: white;
            font-size: 0.8em;
        }
        .annonce_card__statut {position: absolute;top: 0;left:0;}
    }
}
.annonce_card_composants {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin: 10px 0;
    li {
        padding: 5px 20px; border: solid 1.5px $green; background: rgba(111,155,132,.7);
        border-radius: 25px;
        color: white;
        font-size: 0.8em;
    }
}
.annonce_card_desc {
    padding: 10px;
    h3,h4 {font-weight: 100;}
}


.new_list_annonces {
    display: flex;
    .list_annonces {
        border: solid 4px;
        display: flex;
        justify-content: flex-end;
        height: 100%;
        width: 100%;
        //--largeurA: calc(100% - 40%);
        .new_annonces {
            border: solid 2px;
            height: 100vh;
            width: calc(1116px/2);
            //width: var(--largeurA);

            //max-width: calc(1116px - 50%);
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
    #map {
        width: 100%;
    }
}


