.btn {
    padding: 10px 15px;
    border-radius: 3px;
    text-decoration: none;
    display: flex;
    width: fit-content;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    &.black {
        background-color: $dark;
        color: white !important;
    }
    &.white {
        //border: solid 1px;
        color: black;
        background-color: white;
        //box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
}
.filtre_btn {
    cursor: pointer !important;
    border: solid 1px white;
    //color: white;
    background-color: grey;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    width: fit-content;
    padding: 3px;
    text-decoration: none;
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 0.9em;
    //filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    opacity: 0.8;
    label {cursor: pointer;}
    &:hover {opacity: 1;}
    div {
        border: solid 1px white;
        border-radius: 25px;
        padding: 2px 5px;

        //min-width: 6em;
        //padding: 2px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        .close_icon {
            width: fit-content;
            height: fit-content;
            display: flex;
            filter: brightness(0) invert(1);
            img {width: 0;}
            visibility: hidden;
            //display: none;
        }
    }
    &.peche {
        background-color:$peche;
    }
    &.grey {
        background-color: $dark-grey;
    }
    &.yellow {
        background-color: $light-yellow;
    }
    &.green {
        background-color: $green;
    }
    &.white {
        background-color: white;
        border: black solid;
        color: black;
        .close_icon {filter: unset;}
        div {border: black solid;}
    }
    &.filter_actif {
        opacity: 1;
        .close_icon {
            visibility: visible;
            //display: block;
            img {width: 1em;}
        }
    }
}/* Rectangle 113 */

.simple_form.annonces_filtres {
    display: flex;
    gap: 3px;
    input {
        transform: scale(0);
        position: absolute;
        visibility: hidden !important;
    }
    .input.boolean.optional {
        //border: solid 1px;
        //background-color: grey;
        
    }
}
.filtre_btn {
    .input.boolean.optional {
        border: none;
    }
}