.btn {
    padding: 10px 15px;
    border-radius: 3px;
    text-decoration: none;
    display: flex;
    width: fit-content;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    &.black {
        background-color: $dark;
        color: white !important;
    }
    &.white {
        //border: solid 1px;
        color: black;
        background-color: white;
        //box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
}