.list_dpe {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    img {height: 50px;}
}
.collapse_btn {    
    border: solid 1px green;
}
.collapse {
    summary {
        list-style-type:none ;
        line-height: 1.5em;
        padding: 0px 5px;
        cursor: pointer;
    }
    summary::marker {
        color:#fff;
        z-index:-5;
    }
    .content_text {
        border: solid 1px blue;
    }
}
.card_annonce {
    * {margin: 0;padding: 0;}
    font-family: "Montserrat", sans-serif;
    display: flex;
    max-width: 500px;
    flex-direction: column;
    border-radius: 5px;
    width: 100%;
    max-width: 590px;
    height: fit-content;
    max-height: 520px;
    border: solid 1px transparent;
    padding: 5px;
    cursor: pointer;
    .card_flex {
        display: flex; justify-content: space-between;
        align-items: baseline;
        &.grey {color: grey;}
    }
    .card_img {
        width: 100%;
        height: 15em;
        display: flex;
        justify-content: center;
        object-fit: cover;
        margin-bottom: 5px;
        position: relative;
        img {
            width: 100%;
            border-radius: 5px;
        }
        span {
            position: absolute; bottom: 10px; left: 5px; background-color: transparent;
            border: solid 1px white;
            color: white;
            padding: 2px 15px;
            border-radius: 2px;
            font-size: 0.8em;
        }
    }
    .card_desc {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h2 {font-size: 1.2em;}
        .card_flex {font-size: 0.9em;}
    }
    &:hover {
        border: solid 1px lightgray;
    }
}

.list_video {
    display: grid;
    grid-template-columns: repeat(5, 300px);
    gap: 10px;
    .card_video {
        border: solid 1px;
        height: 400px;
    }
}

.test_grid {
    display: grid;
    grid-template-columns: 390px 390px;
    gap: 15px;
}

.tag_filtre {
    &.yellow { 
        background-color: $yellow;
        color: white;
    }
    &.black { background-color: black;
        color: white;
    }
}
.energetique_barre {
    display: flex;
    font-size: 0.9em;
    width: fit-content;
    border: solid 1px;
    height: 40px;
    gap: 1px;
    align-items: center;
    span {
        //padding:3px 6px;
        color: white;
        display: flex;
        width: 1.5em;
        height: 1.5em;
        justify-content: center;
        align-items: center;
        &.selected {
            width: 2em;
            height: 2em;
            border-radius: 2px;
            font-size: 1.1em;
        }
    }
    &.dpe {
        .note {
        &.a {background-color: $dpe-a;}
        &.b {background-color: $dpe-b;}
        &.c {background-color: $dpe-c; color:black;}
        &.d {background-color: $dpe-d;color:black;}
        &.e {background-color: $dpe-e; color:black;}
        &.f {background-color: $dpe-f;}
        &.g {background-color: $dpe-g;}
        }
    }
    &.ges {
        .a {background-color: $ges-a;color:black;}
        .b {background-color: $ges-b;color:black;}
        .c {background-color: $ges-c;}
        .d {background-color: $ges-d;}
        .e {background-color: $ges-e;}
        .f {background-color: $ges-f;}
        .g {background-color: $ges-g;}
    }
}