#footer {
    background-color: $dark;
    padding: 4em 0;
    font-family: "Montserrat", sans-serif;
    .inside {display: flex;justify-content: space-between;
        align-items: baseline;
    }
    ul {
        list-style: none;
        display: flex;
        gap:1em;
        li {height: fit-content;}
    }
    a {text-decoration: none; color:white;}
}