.mapboxgl-popup {
    max-width: 100%;
  }
  
.mapboxgl-popup-content {
    text-align: center;
    font-family: "Open Sans", sans-serif;
}
.marker_map {
  border: solid 1px grey;
  color: black;
  padding: 2px 5px;
  border-radius: 2px;
  background-color: whitesmoke;
  font-weight: 400;
}