#burger_menu {
    cursor: pointer;
}
.nav_mobile_volet {
    border: solid 1px red;
    //padding: 1.5rem;
    background-color: white;
    position: fixed;
    width: 90%;
        height: 100%;
    display: none;
    &.visible {
        display: block;
        background-color: white;
        div:first-of-type {
            padding: 2rem;
        }
    }
}